:root {
    --text-blue-1: #9EE1DC;
    --text-blue-2: #90e0ef;
    --text-blue-3: #caf0f8;

    --bg-d-blue-1: #06043d;
    --bg-d-blue-2: #03045e;
    --bg-d-blue-3: #0d1636;

    --bg-cyan-1: #0e6ba8;
}

/* 
#caf0f8
#90e0ef
#0e6ba8
#0a2472
#001c55
#03045e
#00072d 
#06043d
#9EE1DC
*/

@font-face {
    font-family: coves;
    src: url(../../../Assets/fonts/coves_bold.otf);
}

@font-face {
    font-family: oneday;
    src: url(../../../Assets/fonts/oneday.ttf);
}

header {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: none;
    padding: 0 0 10px;
    backdrop-filter: blur(20px);
    transition: 0.5s;
}

.navbar.active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    backdrop-filter: brightness(60%) blur(20px);
    transition: 0.5s;
    opacity: 100%;
    visibility: visible;
}

/* .navbar::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-color: var(--text-blue-3);
    height: 2px;
    box-sizing: border-box;
    width: 500px;
} */

.navbar a {
    color: var(--text-blue-2);
    text-decoration: none;
    font-size: 1.3rem;
    display: inline-block;
    padding: 15px 20px 5px;
    position: relative;
}

.navbar a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--text-blue-1);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navbar a:hover:after {
    width: 100%;
    left: 0;
}

.navbar > ul {
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar > ul li {
    display: inline-block;
    margin: auto auto;
}

#nav-toggle {
    position: fixed;
    display: none;
    height: 1.8em;
    width: 1.8em;
    left: 40px;
    top: 50px;
    z-index: 20;
    transition: 0.3s ease-in-out;
    border-radius: 50%;
    cursor: pointer;
}

#nav-toggle.active {
    left: 50%;
    transform: translate(-50%);
}

.hamburger {
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.5;
}

.hamburger.is-active:hover {
    opacity: 0.5;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: var(--text-blue-2);
    width: 1.7em;
    height: 0.2em;
}

.hamburger-box {
    width: 32px;
    height: 32px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 1.5em;
    height: 0.2em;
    background-color: var(--text-blue-2);
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

/* Spring  Animation */
.hamburger--spring .hamburger-inner {
    transition: background-color 0s 0.13s linear;
}

.hamburger--spring .hamburger-inner::before {
    top: 7px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring .hamburger-inner::after {
    top: 14px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
    transition-delay: 0.22s;
    background-color: transparent !important;
}

.hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg);
}


/* RESPONSIVE NAVBAR */
@media(min-width: 978px) {}

@media(max-width: 767px) {
    header {
        height: 0;
    }

    .navbar {
        opacity: 0;
        visibility: hidden;
        height: 100vh;
        width: 100vw;
    }

    .navbar > ul {
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #nav-toggle {
        display: block;
    }
}